@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

*{
    margin: 0;
    padding: 0;
}

body {
    background-attachment: fixed;
    background-size: cover;
}

#Content
{
    padding-bottom: 3%;
    width: 100%;
    font-family: "Poppins", sans-serif;
    color: black;
    height: auto;
    background-color: rgba(225, 225, 225, 1);
    margin-bottom: -26vh;
}

.MarkUp
{
    color: red;
}

#Intro
{
    letter-spacing: 1px;
    padding: 2%;
    padding-bottom: 0;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

#background
{
    background-image: linear-gradient(to right, rgba(225, 225, 225, 1), rgba(225, 225, 225, 0));
    position: absolute;
    top: 20vh;
    left: 40%;
    width: 60%;
    height: 80vh;
    z-index: 1;
}

#img
{
    animation: FadeIn 2s ease-in-out;
    position: absolute;
    top: 20vh;
    left: 40%;
    width: 60%;
    height: 80vh;
    transform: scaleX(-1);
    object-fit: cover;
}

#Welcome
{
    animation: FadeIn 2s ease-in-out;
    color: white;
    position: absolute;
    z-index: 2;
    right: 100px;
    top: 26vh;
    text-align: center;
}

#AboutUsLink
{
    text-decoration: none;
    color: rgb(0, 200, 255);
    transition: all 0.2s ease-in-out;
}

#AboutUsLink:hover
{
    color: rgb(0, 150, 255);
}

#AboutUsLink::before, #AboutUsLink::after
{
    content: '';
    opacity: 0;
    position: absolute;
    border: 1.5px solid rgb(0, 150, 255);
    width: 0;
    height: 0;
}

#AboutUsLink::before
{
    bottom: -2px;
    left: 50%;
}

#AboutUsLink::after
{
    bottom: -2px;
    right: 50%;
}

#AboutUsLink:hover::before, #AboutUsLink:hover::after
{
    opacity: 1;
    width: 100px
}

#AboutUsLink:hover::before
{
    transition: width 0.5s ease-out;
}

#AboutUsLink:hover::after
{
    transition: width 0.5s ease-out;
}

#QuickExp
{
    animation: FadeIn 2s ease-in-out;
    margin-left: 10vw;
}

#QuickExp h2
{
    bottom: 55%;
    position: absolute;
}

#container {
    position: absolute;
    margin: auto;
    width: 50%;
    height: 80pt;
    top: 0;
    bottom: 0;

    filter: url(#threshold) blur(0.6px);

    animation: FadeIn 2s ease;
}

#text1,
#text2 {
    position: absolute;
    left: -18vw;
    top: 5vh;
    width: 100%;
    display: inline-block;

    font-family: "Raleway", sans-serif;
    font-size: 40px;

    text-align: center;

    user-select: none;
}

#EXP1
{
    font-size: 20px;
}

#EXP2
{
    font-size: 18px;
}

#ContentSector0
{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    list-style-type: none;
    display: flex;
}

#ExampleWebsites
{
    margin-left: 1%;
    border-radius: 20px;
    padding: 2%;
    padding-left: 3%;
    width: 40%;
    height: 300px;
    background: none;
}

#WebsiteList
{
    list-style-type: none;
    font-size: 20px;
}

.ExapleWebsite
{
    height: 40px;
    border-radius: 5px;
    margin-left: -30%;
    text-align: center;
}

#Service
{
    padding: 2%;
    padding-left: 3%;
    top: 144%;
    left: 50%;
    width: 40%;
    height: 300px;
}

#ServicesText
{
    margin-left: -8%;
    list-style-type: none;
    font-size: 18px;
}

.offerBTN
{
    z-index: -2;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 20px;
    background-color: rgba(0, 140, 255, 0.5);
    font-size: 16px;
}

#offerBTNtext
{
    z-index: 1;
}

.offerBTN::before
{
    z-index: -1;
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: rgba(225, 225, 225, 1);
    width: 196px;
    height: 46px;
    border-radius: 18px;
    transform: scale(0);
    transition: transform 0.1s ease-in-out;
}

.offerBTN:hover::before
{
    transform: scale(1);
}

.WhyUs
{
    margin-top: 10%;
}

.WhyUs h2
{
    text-align: center;
}

.WhyUsTextBox
{
    text-align: center;
    margin: 1%;
}

.WhyMeBox
{
    padding: 2%;
    vertical-align: baseline;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-image: linear-gradient(to right, rgba(0,140,255,0.5), rgba(0,160,255,0.5), rgba(0,255,200,0.5));
    list-style-type: none;
}

.WhyMeElement
{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

.InfoMark
{
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

.InfoBox
{
    opacity: 0;
    position: absolute;
}

.InfoMark:hover
{
    & + .InfoBox
    {
        opacity: 1;
        position: relative;
    }
}